/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


/* HEADER FEATURES */

.main-header{
    min-height: 100px;
    background-color: red;
    di
    
}

header .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-menu{
    display: flex;
    gap: 10px;
    align-items: center;

}






/*FEATURES*/











/* UTILITY */

.bg_y{
    background-color: yellow;
}






/* DEBUG */

.debug .container{
    border: 2px dashed black;
}

.debug *{
    border: 2px dashed black;
}