/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* HEADER FEATURES */

.main-header{
    min-height: 200px;
    background-color: red;
}

header .main-nav{
    display: flex;
    justify-content: space-between;
    
}






/*FEATURES*/











/* UTILITY */








/* DEBUG */

.debug .container{
    border: 2px dashed black;
}

.debug.main-header{
    
}